body{
    background-color: blue;
    color: white;
}

div{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

table{
    color: white;
    border: 2px black;
    width: 500px;
    height: 500px;
}

/* td{
    background-color: white;
} */

input{
    width: 100px;
    height: 100px;
}